**REVIEW QUESTION 1**

In [1]:
# Write a function called cube() with one number parameter and returns the value of that number raised to the third power. Test the
# function by displaying the result of calling your cube() function on a few different numbers

def cube(number):
    return number ** 3

print("Cube of 2:", cube(2))
print("Cube of 3:", cube(3))
print("Cube of 4:", cube(4))
print("Cube of -5:", cube(-5))

Cube of 2: 8
Cube of 3: 27
Cube of 4: 64
Cube of -5: -125

In [5]:
# Write a function called greet() that takes one string parameter called name and displays the text "Hello <name>!" , where <name> is
# replaced with the value of the name parameter.

def greet(name):
    print(f"Hello {name}!")
greet("Dawn")
greet("Minic")
greet("Adashe")

Hello Dawn!
Hello Minic!
Hello Adashe!

**REVIEW QUESTION 2**

In [6]:
# Write a for loop that prints out the integers 2 through 10, each on a new line, by using the range() function.

for i in range(2, 11):
    print(i)

2
3
4
5
6
7
8
9
10

In [7]:
# Write a function called doubles() that takes one number as its input and doubles that number. Then use the doubles() function in a loop to
# double the number 2 three times, displaying each result on a separate line. Here is some sample output:

def doubles(number):
    return number * 2

value = 2
for _ in range(3):
    value = doubles(value)
    print(value)

4
8
16