REVIEW QUESTION 1

In [2]:
# 1. Write a script that creates the two variables, num1 and num2. Both num1
# and num2 should be assigned the integer literal 25,000,000, one written
# with underscored and one without. Print num1 and num2 on two separate lines.

num1 = 25000000
num2 = 25_000_000

print(num1)
print(num2)

25000000
25000000

In [3]:
# 2. Write a script that assigns the floating-point literal 175000.0 to the
# variable num using exponential notation, and then prints num

num = 1.75e5 
print(num)

175000.0

In [4]:
# 3. Try and find the smallest exponent N so that 2e<N>, where <N> is replaced with your number, returns inf.

import math

N = 300  # start close to max
while True:
    val = float(f"2e{N}")
    if math.isinf(val):
        break
    N += 1

print("Smallest N where 2eN is infinity:", N)

Smallest N where 2eN is infinity: 308

REVIEW QUESTION 2

In [6]:
# Write a script called exponent.py that receives two numbers from the
# user and displays the first number raised to the power of the second number.

base = float(input("Enter the base number: "))
exponent = float(input("Enter the exponent number: "))

result = base ** exponent

print(f"{base} raised to the power of {exponent} is {result}")

Enter the base number:  5.0
Enter the exponent number:  3.0

5.0 raised to the power of 3.0 is 125.0

REVIEW QUESTION 3

In [8]:
# 1.Write a script that asks the user to input a number and then displays that number rounded to two decimal places.

num = float(input("Enter a number: "))
rounded_num = round(num, 2)

print(f"Number rounded to two decimal places: {rounded_num}")

Enter a number:  21

Number rounded to two decimal places: 21.0

In [10]:
# 2. Write a script that asks the user to input a number and then displays the absolute value of that number.

num = float(input("Enter a number: "))
abs_value = abs(num)

print(f"The absolute value of {num} is {abs_value}")

Enter a number:  -1.0

The absolute value of -1.0 is 1.0

REVIEW QUESTION 4

In [13]:
# Write a script that asks the user to input two numbers by using the
# input() function twice, then display whether or not the difference
# between those two number is an integer

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

diff = num1 - num2

if diff.is_integer():
    print("The difference between the two numbers is an integer.")
else:
    print("The difference between the two numbers is NOT an integer.")

Enter the first number:  1
Enter the second number:  10

The difference between the two numbers is an integer.

REVIEW QUESTION 5

In [14]:
# 1. Print the result of the calculation 3 ** .125 as a fixed-point number with three decimal places.

result = 3 ** 0.125
print(f"{result:.3f}")

1.147

In [16]:
# 2. 2.Print the number 150000 as currency, with the thousands grouped
# with commas. Currency should be displayed with two decimal places.

amount = 150000
print(f"PHP{amount:,.2f}")

PHP150,000.00

In [17]:
# 3. Print the result of 2 / 10 as a percentage with no decimal places. The output should look like 20%.

result = 2 / 10
print(f"{result:.0%}")

20%