# REVIEW QUESTION 1

In [1]:
# 1 CREATE ATUPLE LITERAL NAMED CARDINAL_NUMBERS THAT HOLDS THE STRINGS "FIRST","SECOND" AND "THIRD", IN THAT ORDER.

cardinal_numbers = ("FIRST", "SECOND", "THIRD")
print(cardinal_numbers)

('FIRST', 'SECOND', 'THIRD')

In [2]:
# 2 USING INDEX NOTATION AND PRINT(), DISPLAY THE STRING AT INDEX 1 IN CARDINAL_NUMBERS.

cardinal_numbers = ("FIRST", "SECOND", "THIRD") 
print(cardinal_numbers[1])

SECOND

In [3]:
# 3 UNPACK THE VALUES IN CARDINAL_NUMBERS INTO THREE NEW STRINGS NAMED POSITION1,
# POSITION2 AND POSITION3 IN A SINGLE LINE OF CODE, THEN PRINT EACH VALUE ON A SEPARATE LINE.

cardinal_numbers = ("FIRST", "SECOND", "THIRD")

position1, position2, position3 = cardinal_numbers

print(position1)
print(position2)
print(position3)

FIRST
SECOND
THIRD

In [5]:
# 4 CREATE ATUPLE CALLED MY_NAME THAT CONTAINS THE LETTERS OF YOUR NAME BY USING TUPLE() AND A STRING LITERAL.

my_name = tuple("Dawn")
print(my_name)

('D', 'a', 'w', 'n')

In [6]:
#. 5 CHECK WHETHER OR NOT THE CHARACTER "X" IS IN MY_NAME USING THE IN KEYWORD

my_name = tuple("Yone")

if "X" in my_name:
    print("X is in my_name")
else:
    print("X is not in my_name")

X is not in my_name

In [7]:
# 6 CREATEANEWTUPLECONTAININGALLBUTTHEFIRSTLETTER IN MY_NAMEUSING SLICING NOTATION.

my_name = tuple("Dawn Obregon Garcia")

new_tuple = my_name[1:]

print(new_tuple)

('a', 'w', 'n', ' ', 'O', 'b', 'r', 'e', 'g', 'o', 'n', ' ', 'G', 'a', 'r', 'c', 'i', 'a')

# REVIEW QUESTION 2

In [8]:
# 1 CREATE A LIST NAMED FOOD WITH TWO ELEMENTS "RICE" AND "BEANS"

food = ["RICE", "BEANS"]
print(food)

['RICE', 'BEANS']

In [9]:
# 2 APPENDTHE STRING "BROCCOLI" TO FOOD USING .APPEND()

food = ["RICE", "BEANS"]
food.append("BROCCOLI")

print(food)

['RICE', 'BEANS', 'BROCCOLI']

In [10]:
# 3 ADDTHESTRING "BREAD" AND "PIZZA" TO "FOOD" USING .EXTEND().

food = ["RICE", "BEANS", "BROCCOLI"]
food.extend(["BREAD", "PIZZA"])

print(food)

['RICE', 'BEANS', 'BROCCOLI', 'BREAD', 'PIZZA']

In [11]:
# 4 PRINT THE FIRST TWO ITEMS IN THE FOOD LIST USING PRINT() AND SLICING NOTATION.

food = ["RICE", "BEANS", "BROCCOLI", "BREAD", "PIZZA"]

print(food[:2])

['RICE', 'BEANS']

In [12]:
# 5 PRINT THE LAST ITEM IN FOOD USING PRINT() AND INDEX NOTATION.

food = ["RICE", "BEANS", "BROCCOLI", "BREAD", "PIZZA"]

print(food[-1])

PIZZA

In [13]:
# 6 CREATE A LIST CALLED BREAKFAST FROM THE STRING "EGGS, FRUIT, ORANGE JUICE" USINGTHE STRING .SPLIT() METHOD

breakfast = "EGGS, FRUIT, ORANGE JUICE".split(", ")

print(breakfast)

['EGGS', 'FRUIT', 'ORANGE JUICE']

In [14]:
# 7 VERIFY THAT BREAKFAST HAS THREE ITEMS USING LEN()

breakfast = ["EGGS", "FRUIT", "ORANGE JUICE"]

print(len(breakfast))

3

In [15]:
#. 8 CREATE A NEW LIST CALLED LENGTHS USING A LIST COMPREHENSION THAT CONTAINS
# THELENGTHS OF EACH STRING IN THE BREAKFAST LIST.

breakfast = ["EGGS", "FRUIT", "ORANGE JUICE"]
lengths = [len(item) for item in breakfast]

print(lengths)

[4, 5, 12]

# REVIEW QUESTION 3

In [16]:
# 1 CREATE A TUPLE DATA WITH TWO VALUES. THE FIRST VALUE SHOULD BE THE
# TUPLE (1, 2) AND THE SECOND VALUE SHOULD BE THE TUPLE (3, 4).

data = ((1, 2), (3, 4))
print(data)

((1, 2), (3, 4))

In [17]:
# 2 WRITE A FOR LOOP THAT LOOPS OVER DATA AND PRINTS THE SUM OF EACH
# NESTED TUPLE. THE OUTPUT SHOULD LOOK LIKE THIS:

for n in range(len(data)):
    sum=0
    for value in data[n]:
        sum += value
    print(f"Row = {n+1} sum = {sum}")

Row = 1 sum = 3
Row = 2 sum = 7

In [18]:
# 3  CREATE A COPY OF THE NUMBERS LIST USING THE [:] SLICING NOTATION.
numbers = [1, 2, 3, 4, 5]

numbers_copy = numbers[:]

print(numbers_copy)

[1, 2, 3, 4, 5]

In [19]:
# 4  SORT THE NUMBERS LIST IN NUMERICAL ORDER USING THE .SORT() METHOD

numbers = [5, 2, 9, 1, 7]

numbers.sort()

print(numbers)

[1, 2, 5, 7, 9]

# CHALLENGE

In [20]:
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]

print(universities)

[['California Institute of Technology', 2175, 37704], ['Harvard', 19627, 39849], ['Massachusetts Institute of Technology', 10566, 40732], ['Princeton', 7802, 37000], ['Rice', 5879, 35551], ['Stanford', 19535, 40569], ['Yale', 11701, 40500]]

In [21]:
# Nouns
nouns = ["FOSSIL", "HORSE", "AARDVARK", "JUDGE", "CHEF", "MANGO", "EXTROVERT", "GORILLA"]
# Verbs
verbs = ["KICKS", "JINGLES", "BOUNCES", "SLURPS", "MEOWS", "EXPLODES", "CURDLES"]
# Adjectives
adjectives = ["FURRY", "BALDING", "INCREDULOUS", "FRAGRANT", "EXUBERANT", "GLISTENING"]
# Prepositions
prepositions = ["AGAINST", "AFTER", "INTO", "BENEATH", "UPON", "FOR", "IN", "LIKE", "OVER", "WITHIN"]
# Adverbs
adverbs = ["CURIOUSLY", "FURIOUSLY", "SENSUOUSLY", "EXTRAVAGANTLY", "TANTALIZINGLY"]

print("Nouns:", nouns)
print("Verbs:", verbs)
print("Adjectives:", adjectives)
print("Prepositions:", prepositions)
print("Adverbs:", adverbs)

Nouns: ['FOSSIL', 'HORSE', 'AARDVARK', 'JUDGE', 'CHEF', 'MANGO', 'EXTROVERT', 'GORILLA']
Verbs: ['KICKS', 'JINGLES', 'BOUNCES', 'SLURPS', 'MEOWS', 'EXPLODES', 'CURDLES']
Adjectives: ['FURRY', 'BALDING', 'INCREDULOUS', 'FRAGRANT', 'EXUBERANT', 'GLISTENING']
Prepositions: ['AGAINST', 'AFTER', 'INTO', 'BENEATH', 'UPON', 'FOR', 'IN', 'LIKE', 'OVER', 'WITHIN']
Adverbs: ['CURIOUSLY', 'FURIOUSLY', 'SENSUOUSLY', 'EXTRAVAGANTLY', 'TANTALIZINGLY']

# REVIEW QUESTION 4

In [22]:
# 1 CREATE AN EMPTY DICTIONARY NAMED CAPTAINS

captains = {}
print(captains)

{}

In [23]:
# 2. USING THE SQUARE BRACKET NOTATION, ENTER THE FOLLOWING DATA INTO THE DICTIONARY, ONE ITEM AT A TIME:
captains = {}

captains = {}
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisco"

for n in captains:
        print(f"'{n}' : '{captains[n]}'")

'Enterprise' : 'Picard'
'Voyager' : 'Janeway'
'Defiant' : 'Sisco'

In [24]:
# 3.  WRITE TWO IF STATEMENTS THAT CHECK IF "ENTERPRISE" AND "DISCOVERY" EXIST AS
# KEYS IN THE DICTIONARY. SET THEIR VALUES TO "UNKNOWN" IF THE KEY DOES NOT EXIST

if not ("Enterprise" in captains): captains["Eterprise"] = "Unknown"
if not ("Discovery" in captains): captains["Discovery"] = "Unknwon"

for n in captains:
        print(f"'{n}' : '{captains[n]}'")

'Enterprise' : 'Picard'
'Voyager' : 'Janeway'
'Defiant' : 'Sisco'
'Discovery' : 'Unknwon'

In [25]:
# 4 WRITE A FOR LOOP TO DISPLAY THE SHIP AND CAPTAIN NAMES CONTAINED IN THE
# DICTIONARY. FOR EXAMPLE, THE OUTPUT SHOULD LOOK SOMETHING LIKE THIS:

captains = {
    "Enterprise": "Picard",
    "Voyager": "Janeway",
    "Defiant": "Sisko",
    "Discovery": "UNKNOWN"
}

for ship, captain in captains.items():
    print(f"The captain of the {ship} is {captain}.")

The captain of the Enterprise is Picard.
The captain of the Voyager is Janeway.
The captain of the Defiant is Sisko.
The captain of the Discovery is UNKNOWN.

# REVIEW QUESTION 5

In [26]:
# 1 DELETE "DISCOVERY" FROM THE DICTIONARY

captains = {
    "Enterprise": "Picard",
    "Voyager": "Janeway",
    "Defiant": "Sisko",
    "Discovery": "Unknown"
}

del captains["Discovery"]

for ship, captain in captains.items():
    print(f"The captain of the {ship} is {captain}.")

The captain of the Enterprise is Picard.
The captain of the Voyager is Janeway.
The captain of the Defiant is Sisko.

In [27]:
# bonus:

captains = dict(
    Enterprise="Picard",
    Voyager="Janeway",
    Defiant="Sisko",
    Discovery="Unknown"
)

for ship, captain in captains.items():
    print(f"The captain of the {ship} is {captain}.")

The captain of the Enterprise is Picard.
The captain of the Voyager is Janeway.
The captain of the Defiant is Sisko.
The captain of the Discovery is Unknown.

In [ ]:
capitals_dict = {
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona': 'Phoenix',
    'Arkansas': 'Little Rock',
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
}

print("Type 'exit' anytime to quit.\n")

for state, capital in capitals_dict.items():
    guess = input(f"What is the capital of {state}? ")
    
    if guess.lower() == "exit":
        print("Exiting...")
        break

    if guess.lower() == capital.lower():
        print("✅ Correct!\n")
    else:
        print(f"❌ Wrong. The capital of {state} is {capital}.\n")

Type 'exit' anytime to quit.

What is the capital of Alabama?  cebu

❌ Wrong. The capital of Alabama is Montgomery.